.book-session-page {
  max-width: 500px;
  margin: 40px auto;
  border-radius: 16px;
  padding: 30px 35px 20px 35px;
  background: #fff;
}
.book-session-page h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.book-session-page p, label {
  color: #606674;
  margin-bottom: 8px;
  font-size: 1.07rem;
}
.session-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.session-form input {
  padding: 11px;
  border-radius: 8px;
  border: 1px solid #d2d8ed;
}
.session-form button {
  padding: 11px;
  background: #38C378;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
